.ThemeSwitcher {
   background-color: initial;
}

.moonIcon {
   fill: var(--dark-theme-icon-color);
   color: var(--dark-theme-icon-color);
}

.sunIcon {
   fill: var(--light-theme-icon-color);
   color: var(--light-theme-icon-color);
}